.addLabModal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(246, 246, 245);
  color: rgb(69, 69, 69);
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 600px;
  width: 400px;

  .addLab{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin: auto;

    &__dates{
      display: flex;
      flex-direction: row;
      &__input {
        width: 45%;
      }
    }

    &__blockTitle{
      font-weight: 600;
      margin-bottom: 10px;
    }

    &__addBtn{
      align-items: flex-start;
      background-color: rgb(27, 183, 134);
      border: 0px rgb(255, 255, 255);
      cursor: pointer;
      font-size:18px;
      height: 50px;
      text-align: center;
      color: white;
      width: 100%;
      margin-top: 10px;
    }

    &__input {
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(220, 220, 220);
      cursor: text;
      height: 48px;
      line-height: 49px;
      text-align: start;
      width: 100%;
      display: flex;
      margin-bottom: 5px;
      padding-left: 10px;
    }
  }
}

.Overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}